@import "tailwindcss";

@theme {
  /* 색상 지정 */
  --color-slate-900: #0F172A;
  --color-slate-800: #1E293B;
  --color-slate-500: #64748B;
  --color-slate-400: #94A3B8;
  --color-slate-300: #CBD5E1;
  --color-slate-200: #E2E8F0;
  --color-slate-100: #F1F5F9;

  --color-violet-600: #7C3AED;
  --color-violet-100: #EDE9FE;

  --color-rose-500: #F43F5E;
  --color-lime-300: #BEF264;

  --color-amber-800: #92400E;

  /* 텍스트 크기 지정 */
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
}

input,
textarea {
  outline: none;
}